<!doctype html>

<html lang="en">

<head>
  <title>HOLAAAA</title>
  <meta charset="utf-8">
</head>

<body>
  <p>Count numbers: <output id="resultFibo_recurrente"></output></p>
  <p>Count numbers: <output id="resultFibo_dinamico"></output></p>
  <button onclick="startWorker()">Start Worker</button>
  <button onclick="stopWorker()">Stop Worker</button>

  <p><strong>Note:</strong> Internet Explorer 9 and earlier versions do not support Web Workers.</p>

  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script>
    var width = 1000,
    height = 1000;

    var svg = d3.select("body").append("svg")
      .attr("width", width)
      .attr("height", height)
      .append("g");


    var d1 = "m" + width * .5 + "," + height * .5;
    var r1 = 0;
    var x1 = 0;
    var y1 = 0;

    var path1 = '';
    var totalLength1 = 0;

    var d2 = "m" + width * .5 + "," + height * .5;
    var r2 = 0;
    var x2 = 0;
    var y2 = 0;
  </script>
  <script src='../logic/eventos.js'></script>
</body>
</html>